
body {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #666;
    margin: 0
}
tr {
  vertical-align: middle
}
img {
    max-width: 50%;
    vertical-align: middle;
    align-items: center;
}

.itemPedido {
    display: inline-flex;
    width: 120px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2
}

/* El footer debe estar pegado al parte inferior del navegador
 independientemente del resto de elementos */
 #pieDocumento {
   width: 100%;
   height: 100px;
   /*background-color: salmon;*/
   position: fixed;
   bottom: 0px;
   font-size: 1.2em;
   font-style: italic;
   text-align: center;
 }
